<!DOCTYPE html>
<html xmlns:th="http://www.tymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>受講生更新</title>
</head>
<body>
<h1>受講生更新</h1>
<form th:action="@{/updateStudent}" th:object="${studentDetail}" method="post">
  <div>
    <label for="fullName">名前</label>
    <input type="text" id="fullName" th:field="*{student.fullName}" required/>
  </div>
  <div>
    <label for="furigana">フリガナ</label>
    <input type="text" id="furigana" th:field="*{student.furigana}" required/>
  </div>
  <div>
    <label for="nickName">ニックネーム</label>
    <input type="text" id="nickName" th:field="*{student.nickName}" required/>
  </div>
  <div>
    <label for="email">eメール</label>
    <input type="text" id="email" th:field="*{student.email}" required/>
  </div>
  <div>
    <label for="address">住所</label>
    <input type="text" id="address" th:field="*{student.address}" required/>
  </div>
  <div>
    <label for="age">年齢</label>
    <input type="text" id="age" th:field="*{student.age}" required/>
  </div>
  <div>
    <label for="gender">性別</label>
    <input type="text" id="gender" th:field="*{student.gender}" required/>
  </div>
  <div>
    <label for="remark">備考欄</label>
    <input type="text" id="remark" th:field="*{student.remark}"/>
  </div>
  <div>
    <label for="isDeleted">削除</label>
    <input type="checkbox" id="isDeleted" th:field="*{student.Deleted}" />
  </div>
  <div th:each="course,stat : *{studentCourses}">
    <label for="courseName" th:for="studentCourse.__${stat.index}__.courseName">受講コース名</label>
    <input type="text" id="courseName" th:id="studentCourse.__${stat.index}__.courseName"
           th:field="*{studentCourses[__${stat.index}__].courseName}"/>
  </div>


  <input type="hidden" th:field="*{student.id}" />

  <div>
    <button type="submit">更新</button>
  </div>


</form>

</body>
</html>